<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Sensitive Words Check">
    <meta name="keywords" content="HTML,CSS,Python,JavaScript,jQuery,Bootstrap,Flask,JSON">
    <meta name="author" content="Sunshine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name=='root' %}Sensitive Words Check{% elif name=='setting' %}Setting{% endif %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type=text/javascript>
        {% if name=='root' %}
        $(function() {
            $('#check').on('click', function() {
                $.post('/check', {
                    q: $('#input').val()
                }, function(data) {
                    $('#output').val(data.result);
                }, 'json');
                return false;
            });
        });

        function copyText() {
            var article = document.getElementById('input');
            article.select();
            document.execCommand('Copy');
            article.setSelectionRange(0,0);
            if (article.value !== '') {
                alert('Article copied.');
            }
        }

        function clearContents() {
            $('#input').val('');
            $('#output').val('');
        }
         
        window.onload = function() {
            data = localStorage.getItem('data');
            if (data !== null) $('#input').val(data);
        }

        window.onbeforeunload = function() {
            localStorage.setItem('data', $('#input').val());
        }
        {% elif name=='setting' %}
        $(function() {
            load();
            $('#save').on('click', function() {
                $.post('/save', {
                    q: $('#input').val()
                }, function(data) {
                    if (data.result == 'OK') {
                        alert('Save Success!');
                    }
                }, 'json');
            });
            $('#load').on('click', function() {
                $.getJSON('/load', {
                    q: 'yes'
                }, function(data) {
                    if (data.result == 'OK') {
                        load();
                        alert('Load Success!');
                    }
                });
            });
        });

        function load() {
            $.get('/static/sensitive_words.txt', {
                    "_": $.now()
                },
                function(data) {
                    $('#input').val(data);
                });
        }
        {% endif %}
    </script>
    <style type="text/css">
        textarea {
            resize: none;
            padding-left: 0.8em;
            height: 800px;
        }

        .form-control {
            border: 1px solid #007bff;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand navbar-light flex-column flex-md-row">
        <a class="navbar-brand text-primary m-0 mr-md-3" href="/" style="font-size:24px;">Sensitive Words Check</a>
        <div class="navbar-nav flex-row" style="font-size:18px;">
            <a class="nav-link{% if name=='root' %} active{% endif %}" href="/">Home</a>
            <a class="nav-link{% if name=='setting' %} active{% endif %}" href="/setting">Setting</a>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-6 pb-3 pb-md-0">
                <textarea class="form-control" id="input" placeholder="Copy or enter article here..."></textarea>
            </div>
            <div class="col-sm-3 col-md-2 pb-3 pb-md-0 pl-sm-0 p-md-0">
                {% if name=='root' %}
                <button onclick="javascript:void(0)" id="check" type="button" class="btn btn-primary btn-block">Check</button>
                <button onclick="copyText()" type="button" class="btn btn-primary btn-block">Copy Article</button>
                <br>
                <button onclick="clearContents()" type="button" class="btn btn-primary btn-block">Clear</button>
                {% elif name=='setting' %}
                <button onclick="javascript:void(0)" id="save" type="button" class="btn btn-primary btn-block">Save</button>
                <br>
                <button onclick="javascript:void(0)" id="load" type="button" class="btn btn-primary btn-block">Load Default</button>
                <br>
                <a class="btn btn-primary btn-block" href="/" role="button">Back Home</a>
                {% endif %}
            </div>
            {% if name=='root' %}
            <div class="col-md-4 pb-3 pb-md-0">
                <textarea class="form-control" id="output" readonly></textarea>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>


